<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="well text-center">
    <h2>Welcome H-Clubber!!</h2>
		<p>우리 정보 공유 사이트 - 전체 글 보기</p>
  </div>

  <%= render :partial => "foods/posts" %>
</div>
