<p><%= flash[:alert] %></p>
<h2>글 추가 작성하기</h2>

<form action="/foods/write_complete" method="post">
	<p style="color: #ff0000">카테고리:
	<select name="post_category">
	<option value="벤처">벤처</option>
	<option value="대경">대경</option>
	<option value="창모">창모</option>
	<option value="찬희">찬희</option>
	</select></p>
	<p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요"></p>
	<p>내용: <textarea name="post_contect" placeholder="내용을 입력하세요"></textarea></p><br>
	<input type="submit" value="추가하기">
</form>
	
