<div class="container">
	<h1 class="gourmet-title"><a class="gourmet-title-link" href="/"><strong>H-CLUB !!!</strong></a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/venture">벤처</a></li>
			<li><a href="/DK">대경</a></li>
			<li><a href="/CM">창모</a></li>
			<li><a href="/CH">찬희</a></li>
			<li><a href="/foods/write">글쓰기</a></li>
			<li><a href="/ncm">CM's</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if session[:user_id].nil? %>
			<li><a href="/users/login">로그인</a></li>
      <% else %>
      <li><a href="/users/logout_complete">로그아웃</a></li>
      <% end %>
    </ul>
  </div>
</nav>
