<h4><a href="/">h-club</a> || <a href="/venture">벤처</a> | <a href="/DK">대경</a> | <a href="/CM">창모</a> | <a href="/CH">찬희</a> || <a href="/foods/write">글쓰기</a> ||
<% if session[:user_id].nil? %>
<a href="/users/signup">회원가입</a> | <a href="/users/login">로그인</a>
<% else %>
<a href="/users/logout_complete">로그아웃</a>
<% end %>
</h4>
