<!DOCTYPE html>
<html>
<head>
  <title>Gourmet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h4><a href="/">h-club</a> || <a href="/venture">벤처</a> | <a href="/DK">대경</a> | <a href="/CM">창모</a> | <a href="/CH">찬희</a></h4>

<%= yield %>


</body>
</html>
